language: python
dist: xenial
python: 3.7
cache: pip

install:
  - pip install codecov pytest-travis-fold

script:
  - pip install -r requirements-dev.txt
  - pip install -e .
  - make lint
  - pytest -v --cov=./ tests/ -n auto
