git+https://github.com/raiden-network/raiden.git@a5bdb80e0750901646cc3b7691bb1c9647ff5cdf#egg=raiden

sentry-sdk[flask]==1.5.2
prometheus_client==0.12.0
networkx==2.6.3

jaeger-client==4.8.0
dbapi-opentracing==0.0.5
Flask-Opentracing==1.1.0
requests-opentracing==0.3.0