-r requirements.txt
-r requirements-docs.txt

pip
wheel>=0.30.0
watchdog>=0.8.3

flake8==3.7.9
flake8-bugbear==20.1.2
flake8-tuple==0.4.1
isort==4.3.21
mypy==0.750
black==19.10b0
pylint==2.4.4

pytest==5.2.1
pytest-gevent
pytest-runner
pytest-cov
pytest-structlog==0.2
pytest-xdist
coverage>=4.5.4

ipython==4.2.1
pdbpp

eth-tester[py-evm]==0.1.0b39

# Release
bump2version
twine
