-r requirements.txt
-r requirements-docs.txt

wheel>=0.30.0
watchdog>=0.8.3

flake8==3.9.2
flake8-bugbear==22.1.11
flake8-tuple==0.4.1
isort==5.10.1
mypy==0.931
black==22.1.0
pylint==2.12.2

pytest
pytest-gevent
pytest-runner
pytest-cov
pytest-structlog==0.5
pytest-xdist
coverage>=4.5.4

ipython==8.1.1
pdbpp

eth-tester[py-evm]==0.6.0b4

# Release
bump2version
twine

# mypy types
types-setuptools
types-requests
