-r requirements.txt

pip
bumpversion
wheel
watchdog
flake8
mypy
coverage
Sphinx
sphinx_rtd_theme

pytest
pytest-runner
pdbpp

eth-tester[py-evm]==0.1.0b24

git+https://github.com/raiden-network/raiden-contracts.git
