# Production-ready setup.
# Uses the newest `stable` image of the `master` branch.
# a traefik instance handles exposition of service instances.
# All services are expected to be started, hence the following command
# must be run to start the docker setup:
#
#   docker-compose up
#
# Add the `-d` flag to daemonize the containers.
#
# Updating the images is as easy as this:
#
#   docker-compose pull && docker-compose restart
#
# ..Note::
#
#   The above commands assume you're already in the directory where
#   where this docker-compose file is located.
version: '3.4'

x-defaults: &defaults
  restart: always
  env_file: .env
  image: raidennetwork/raiden-services:stable
  volumes:
    - /data/state:/state
    - /data/keystore:/keystore
  logging:
    driver: "journald"

services:
  pfs-ropsten:
    << : *defaults
    command: ["python3", "-m", "pathfinding_service.cli", "--enable-debug", "--log-json"]
    environment:
      - PFS_ETH_RPC=http://geth.ropsten.ethnodes.brainbot.com:8545
      - PFS_STATE_DB=/state/pfs-ropsten.db
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host: pfs-ropsten.services-${DEPLOY_ENV}.raiden.network"

  pfs-ropsten-with-fee:
    << : *defaults
    command: ["python3", "-m", "pathfinding_service.cli", "--enable-debug", "--log-json"]
    environment:
      - PFS_ETH_RPC=http://geth.ropsten.ethnodes.brainbot.com:8545
      - PFS_STATE_DB=/state/pfs-ropsten-with-fee.db
      - PFS_SERVICE_FEE=100
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host: pfs-ropsten-with-fee.services-${DEPLOY_ENV}.raiden.network"
    depends_on:
      - pfs-ropsten

  pfs-rinkeby:
    << : *defaults
    command: ["python3", "-m", "pathfinding_service.cli", "--enable-debug", "--log-json"]
    environment:
      - PFS_ETH_RPC=http://geth.rinkeby.ethnodes.brainbot.com:8545
      - PFS_STATE_DB=/state/pfs-rinkeby.db
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host: pfs-rinkeby.services-${DEPLOY_ENV}.raiden.network"
    depends_on:
      - pfs-ropsten-with-fee

  pfs-rinkeby-with-fee:
    << : *defaults
    command: ["python3", "-m", "pathfinding_service.cli", "--enable-debug", "--log-json"]
    environment:
      - PFS_ETH_RPC=http://geth.rinkeby.ethnodes.brainbot.com:8545
      - PFS_STATE_DB=/state/pfs-rinkeby-with-fee.db
      - PFS_SERVICE_FEE=100
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host: pfs-rinkeby-with-fee.services-${DEPLOY_ENV}.raiden.network"
    depends_on:
      - pfs-rinkeby

  pfs-goerli:
    <<: *defaults
    command: ["python3", "-m", "pathfinding_service.cli", "--enable-debug", "--log-json"]
    environment:
      - PFS_ETH_RPC=http://parity.goerli.ethnodes.brainbot.com:8545
      - PFS_STATE_DB=/state/pfs-goerli.db
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host: pfs-goerli.services-${DEPLOY_ENV}.raiden.network"
    depends_on:
      - pfs-rinkeby-with-fee

  pfs-goerli-with-fee:
    <<: *defaults
    command: ["python3", "-m", "pathfinding_service.cli", "--enable-debug", "--log-json"]
    environment:
      - PFS_ETH_RPC=http://parity.goerli.ethnodes.brainbot.com:8545
      - PFS_STATE_DB=/state/pfs-goerli-with-fee.db
      - PFS_SERVICE_FEE=100
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host: pfs-goerli-with-fee.services-${DEPLOY_ENV}.raiden.network"
    depends_on:
      - pfs-goerli

  ms-ropsten:
    <<: *defaults
    command: ["python3", "-m", "monitoring_service.cli", "--log-json"]
    environment:
      - MS_ETH_RPC=http://geth.ropsten.ethnodes.brainbot.com:8545
      - MS_STATE_DB=/state/ms-ropsten.db

  ms-rinkeby:
    <<: *defaults
    command: ["python3", "-m", "monitoring_service.cli", "--log-json"]
    environment:
      - MS_ETH_RPC=http://geth.rinkeby.ethnodes.brainbot.com:8545
      - MS_STATE_DB=/state/ms-rinkeby.db

  ms-goerli:
    <<: *defaults
    command: ["python3", "-m", "monitoring_service.cli", "--log-json"]
    environment:
      - MS_ETH_RPC=http://parity.goerli.ethnodes.brainbot.com:8545
      - MS_STATE_DB=/state/ms-goerli.db

  ms-goerli-backup:
    <<: *defaults
    command: ["python3", "-m", "monitoring_service.cli", "--log-json"]
    environment:
      - MS_ETH_RPC=http://parity.goerli.ethnodes.brainbot.com:8545
      - MS_STATE_DB=/state/ms-goerli-backup.db
      - MS_KEYSTORE_FILE=${MS_BACKUP_KEYSTORE_FILE}
      - MS_PASSWORD=${MS_BACKUP_PASSWORD}

  msrc-ropsten:
    <<: *defaults
    command: ["python3", "-m", "request_collector.cli", "--log-json"]
    environment:
      - MSRC_CHAIN_ID=ropsten
      - MSRC_STATE_DB=/state/ms-ropsten.db
    depends_on:
      - ms-ropsten

  msrc-rinkeby:
    <<: *defaults
    command: ["python3", "-m", "request_collector.cli", "--log-json"]
    environment:
      - MSRC_CHAIN_ID=rinkeby
      - MSRC_STATE_DB=/state/ms-rinkeby.db
    depends_on:
      - msrc-ropsten

  msrc-goerli:
    <<: *defaults
    command: ["python3", "-m", "request_collector.cli", "--log-json"]
    environment:
      - MSRC_CHAIN_ID=goerli
      - MSRC_STATE_DB=/state/ms-goerli.db
    depends_on:
      - msrc-rinkeby

  msrc-goerli-backup:
    <<: *defaults
    command: ["python3", "-m", "request_collector.cli", "--log-json"]
    environment:
      - MSRC_CHAIN_ID=goerli
      - MSRC_STATE_DB=/state/ms-goerli-backup.db
      - MSRC_KEYSTORE_FILE=${MS_BACKUP_KEYSTORE_FILE}
      - MSRC_PASSWORD=${MS_BACKUP_PASSWORD}
    depends_on:
      - msrc-goerli

  builder:
    restart: always
    build: ./builder
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/raiden-services/deployment/:/deployment
    environment:
      - HOSTNAME=services-stable
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host: services-${DEPLOY_ENV}.raiden.network"

  traefik:
    image: traefik:1.7
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./config/traefik:/etc/traefik
      - ./data/traefik:/data
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - pfs-ropsten
      - pfs-rinkeby
      - pfs-goerli
      - pfs-ropsten-with-fee
      - pfs-rinkeby-with-fee
      - pfs-goerli-with-fee
      - ms-ropsten
      - ms-rinkeby
      - ms-goerli
      - ms-goerli-backup
      - msrc-ropsten
      - msrc-rinkeby
      - msrc-goerli
      - msrc-goerli-backup
      - builder

  # This registers the service and stops afterwards
  registration-goerli:
    <<: *defaults
    restart: "no"
    command: ["python3", "-m", "raiden_libs.service_registry", "register"]
    environment:
      - RDN_REGISTRY_LOG_LEVEL=DEBUG
      - RDN_REGISTRY_KEYSTORE_FILE=${MS_KEYSTORE_FILE}
      - RDN_REGISTRY_PASSWORD=${MS_PASSWORD}
      - RDN_REGISTRY_SERVICE_URL=https://pfs-goerli-with-fee.services-${DEPLOY_ENV}.raiden.network
      - RDN_REGISTRY_ETH_RPC=http://parity.goerli.ethnodes.brainbot.com:8545
    depends_on:
      - traefik

  # This registers the service and stops afterwards
  registration-goerli-backup:
    <<: *defaults
    restart: "no"
    command: ["python3", "-m", "raiden_libs.service_registry", "register"]
    environment:
      - RDN_REGISTRY_LOG_LEVEL=DEBUG
      - RDN_REGISTRY_KEYSTORE_FILE=${MS_BACKUP_KEYSTORE_FILE}
      - RDN_REGISTRY_PASSWORD=${MS_BACKUP_PASSWORD}
      - RDN_REGISTRY_SERVICE_URL=""
      - RDN_REGISTRY_ETH_RPC=http://parity.goerli.ethnodes.brainbot.com:8545
    depends_on:
      - traefik
